{* This is the welcome page, you can delete it *}

{block content}

	<h1 n:block=title>Hlavni strana</h1>

	<h2>TODO list</h2>

	<ul>
		<li>Instalace Phinxu.</li>
		<li>Přesun na server.</li>
	</ul>

{/block}
