parameters:


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter
#		Money: App\Modules\MoneyModule\Presenters\*Presenter


session:
	expiration: 14 days


di:
	export:
		parameters: no
		tags: no


services:
	router: App\Router\RouterFactory::createRouter
	- App\MoneyManager


security:
	users:
		jadminw: 9Hmt@W4fPLG#n7b*A7$^  # user 'admin', password 'secret'