{layout './../../../../Presenters/templates/@layout.latte'}

{block content}

<div class="container">
    <h1>Přijaté:</h1>
</div>

<div class="row">
    <div class="col-lg-6">

        {control addForm}

    </div>
</div>

{/block}