{layout './../../../../Presenters/templates/@layout.latte'}

{block content}

{include 'nav.latte'}

<div class="row">
    <div class="col-lg-7">

        {control categoryAddForm}

    </div>
</div>


{/block}