{layout './../../../../Presenters/templates/@layout.latte'}

{block content}

        <h1>Vydané:</h1>

<div class="row">
    <div class="col-lg-6">

        {control spendForm}

    </div>
</div>
{/block}